
body{
    background-image: linear-gradient(rgba(6, 56, 82, 0.4),rgba(6,56,82,0.4)),url(desk.jpg);
    background-size: cover;
    
}

.box{
    
    font-family: 'Oleo Script',sans-serif;
    width: 700px;
    height: 400px;
    text-align: center;
    translate: 25vw 20vh;
    color: #fbcbc9;
    font-size: 30px;
    background-color: #2d545e;
    padding-top: 100px;
    border-radius: 30px;
    opacity: 0.97;
    transition: opacity 0.2s,color 0.2s,font-size 0.2s;
    text-decoration: none;
}
.box:hover{
        opacity: 0.99;
        color: #f2928f;
        font-size: 32px;
        
}
.navbar{
    background-color: white;
    display: block;
    padding-left: 70px;
    margin-top: 30px;
    font-family: 'Oleo Script',sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: black;
    
    
    font-size: 30px;
    
}

.button{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-family: 'Oleo Script',sans-serif;
    font-size: larger;
    color: #294d56;
    transition: color 0.2s;
    flex: 1;
    margin-right: 100px;
}
.button:hover{
    color:#fbcbc9;
    

    
}
.button:active{
    color: #f2928f;
}

.right{
    opacity: 0.8;
    height: 50px;
    padding: 10px;
    background-color: #fbcbc9;
    border-radius: 100px;
    translate: 93vw -20vh;
    transition: padding;
}
.right:hover{
    padding: 12px;
    opacity: 1;

}
.right:active{
    background-color: #f2928f;

}
.footer{
    background-color: burlywood;
    margin-top:300px;
    height: 150px;
    display: flex;
    flex-direction: row;
}
.name{
    flex: 1;
    padding: 70px;
    padding-left: 500px;
    
    font-size: 30px;
    
}
.contact{
    padding: 70px;
    font-size: 30px;
}
.fa-instagram{
    color:black;
}