body {
    background-image: linear-gradient(rgba(101,67,33,0.6),rgba(101,67,33,0.6)),url(health.jpg);
    background-size: cover;
}
.Navbar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 500px 10px;
    background-color: #412920;  
    border-radius: 30px;
    color: #CFB595;;
    
    opacity: 0.85;
    font-family: 'Roboto', sans-serif;
    max-height: 200px;
    transition: opacity 0.2s;
}
.hab{
    color: #FFECC6;
    padding-left: 100px;
    font-size: larger;
}
.pic{
   
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    opacity: 0.9;
    height: 550px;
    border-radius: 80px;
}
.layer{
    padding-top: 90px;
    background-color: white;
    border-radius: 10px;
    
    
}
.content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    
}
.iden{
    background-color: #412920;
    margin: 10px;
    border-radius: 10px;
    color: #FFECC6;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    transition: 0.2s;
}
.iden:hover{
    opacity: 0.9;
  
}
.pa{
    color: #CFB595;
}
.Navbar:hover{
    opacity: 0.8;
}
.next{
    translate: 500px 20px;
}
.next:hover{
    color: brown;
}
.n{
    text-decoration: none;
}